:root {
  --main-green: #048B9A;
  --hover-green: #02616B;
  --link-green: #048B9A;
  --light-bg: #EDE7E3;
  --neutral-text: #5F5F5F;
  --dark-text: #1e2124;
  --highlight-orange: orange;
  --sidebar-width: 340px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  color: var(--dark-text);
  height: 100%;
  }

.bibli-header {
  text-align: center;
  padding: 2rem 1rem 1rem;
  background-color: #EDE7E3;
  color: white;
}

.bibli-header h1 {
  margin: 0 0 1rem;
  font-size: 2rem;
}

#search-input {
  width: 80%;
  max-width: 600px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.bibli-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;  /* active le scroll horizontal */
  padding: 2rem;
  scroll-snap-type: x mandatory; /* snap propre */
}

.bibli-card {
  flex: 0 0 300px; /* largeur fixe de carte */
  scroll-snap-align: start;
}

.bibli-card:hover {
  transform: translateY(-4px);
}

.bibli-card h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.doc-img {
  max-width: 100%;
  max-height: 200px; /* Limite la hauteur */
  object-fit: cover;
  margin: 0 auto 1rem;
  display: block;
}

.doc-link {
  margin-top: auto;
  display: inline-block;
  background: white;
  color: #048B9A;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 1rem;
}

.doc-link:hover {
  background-color: #f0f0f0;
}
.scroll-left, .scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #048B9A;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.scroll-left { left: 10px; }
.scroll-right { right: 10px; }
/* ===================== */
/*       HOME       */
/* ===================== */
.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #048B9A;
  color: white;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.home-button:hover {
  background-color: #02616B;
  transform: scale(1.1);
}
/* ===================== */
/*       Footer     */
/* ===================== */
.global-footer {
  background-color: #f0f0f0;
  color: var(--dark-text);
  font-size: 0.85rem;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  margin-top: 3rem;
}
@media (max-width: 600px) {
  #search-input {
    width: 95%;
  }

  .bibli-card {
    padding: 1rem;
  }
}
